html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFE5FF;
  min-height: 100%;
  line-height: 1.6rem;
}

h2 {
  font-size: 2.5rem;
}

.input-field > label  {
 color: black;
}
