@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
}

a {
  color: $dark-color;
  &:hover {
    color: $light-color;
    @include transition(all 2s ease);
  }
}

header {
  background-color: $dark-color;
  padding: 2rem;

  h1 {
    color: $primary-color;
  }
  p {
    color: $light-color;
  }
}

.section {
  min-height: 50vh;
  padding: 2rem;
  &-a {
    background-color: $primary-color;
    h2 {
      color: $dark-color;
    }
  }
  &-b {
    background-color: $secondary-color;
    h2 {
      color: $light-color;
    }
  }
}

// does not display in CSS
%btn-shared {
  display: inline-block;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.btn {
  &-light{
    @extend %btn-shared;
    background-color: $light-color;
    color: $dark-color;
    &:hover{
      background: darken($light-color, 70%);
    }
  }
  &-dark{
    @extend %btn-shared;
    background-color: $dark-color;
    color: $light-color;
    &:hover{
    background: lighten($dark-color, 10%);
    }
  }
}